html,body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container{
    width: 100%;
  }

.container img{
    width: 100%;
}

.nav{
    width: auto;
    height: 15px;
    position: absolute;
    border-radius: 2px;
    top: 10px;
}

.nav ul {
        list-style-type: none;
        margin: 5px;
        padding: 10px;
        overflow: hidden;
        background-color: transparent;
    }
      
.nav li {
        float: left;
    }
      
.nav li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
      
.nav li a:hover {
        cursor: pointer;
        color: #ddd55ede;
    }

    .dots{
        width: 100%;
        bottom: 15px;
        background-color: black;
        text-align: center;

    }
      
    .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
  
