html,body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(19, 27, 54, 0.548),rgba(4,9,30,0.7)),url(Images/nb.png);
  }

  .container{
    width: 100%;
    height: 50%;
  }

.container img{
    width: 100%;
}

.mySlides {
  display: none;
}

.mySlides .text{
  color: #d6e41c;
  font-size: 15px;
  padding: 2px 2px;
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
}

.mySlides .content{
  position: absolute;
  color: white;
  margin-top: 50px;
  padding-left: 50px;
  display: block;
}

nav{
    position: absolute;
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 2px;
    top: 15px;
    background: none;
    padding: 0px 0px;
    justify-content: space-between;
}

.nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
    }
      
.nav li{
    float: left;
    padding: 0px 12px;
    position: relative;
    }
      
.nav li a{
    display: flex;
    color: rgb(204, 123, 17);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
      
.nav li a:hover{
        cursor: pointer;
        color: rgb(240, 176, 57);
    }

    .nav ul a::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #ddd55ede;
        background-image: linear-gradient(to right, #ddd55ede, red);
        transition: 0.25s ease-out;
      }
    
      .nav ul a:hover::before{
        width: 100%;
        left: 0;
        right: auto;
      }
    
      .nav ul a:hover{
        color: rgb(240, 176, 57);
      }
    
      .fa::before{
        content: "";
      }

    .logo-btn{
        background-color: transparent;
        font-family: 'Brush Script MT', cursive;
        font-size: 35px;
        height: 48spx;
        width: 180px;
        color: rgb(240, 176, 57);
        border: none;
      }
      
      .logo-btn:hover{
        cursor: pointer;
      }

/*-------------Search---------------------------------------------------*/

.search-bar{
    background: transparent;
    width: 240px;
    height: 40px;
    display: flex;
    border-radius:25px;
    background: linear-gradient(rgba(105, 107, 107, 0.459),rgba(105, 107, 107, 0.459)),transparent;
  }
  
  
  .search input[type=text]{
    text-align: left;
      width:250px;
      height: 30px;
      padding:2% 6%;
      border: none;
      background-position: 10px 10px; 
      background: transparent;
      outline: none;
      color: rgb(245, 240, 240);
  }
  
  ::placeholder{
    color:#ccc;
    text-align: left;
  }
  
  form:hover{
    background-color:#F8F8FF;
    font: rgb(235, 233, 233);
  }
  
  .search button{
    size: 20px;
    border: none;
    padding: 12px 30px;
    width: 12%;
    height: 25%;
    background: none;
    cursor: pointer;
  
  }
  .search button:hover{
    background: none;
  }

/*-------------dots-------------------------------------------*/

    .dots{
        width: 100%;
        bottom: 15px;
        background-color: black;
        text-align: center;
    }
      
    .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }

      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }

/*-------------------------Below Slide-----------------------------------*/

.belw-slide
  {
    margin: auto;
    padding: 5px 20px 5px 30px;
  }
/*--------------------------Movie Cards   -------------------------------*/
.second{
    width: 90%;
    height: auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .bx{
    position: relative;
    width: 130px;
    height: 240px;
    margin: 10px;
    border-radius: 20px;
  }
  .bx img{
    width: 100%;
    height: 80%;
    border-radius: 20px;
    border: 1px solid rgb(240, 176, 57);
  }
  
  .bx .quality{
    width: auto;
    height: 15px;
    position: absolute;
    border-radius: 2px;
    border: 1px solid rgb(240, 176, 57);
    background-color: rgb(8, 8, 8);
    top: 10px;
    right: 10px;
    color: rgb(240, 176, 57);
    font-size: 13px;
    font-weight: 600;
    text-align: center;
  }
  
  .bx .moviename{
    color: rgb(240, 176, 57);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
  }
  
  .bx .bord{
    border-radius: 2px;
    border: 1px solid rgb(240, 176, 57);
  }
  
  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .content .text {font-size: 11px}
}
